<ion-menu contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<ion-header color="dark" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" color="light">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-button slot="end" color="dark" shape="round">
      <!-- <ion-badge slot="end" color="success" shape="round">1</ion-badge> -->
      <ion-icon slot="icon-only" color="primary" name="notifications">
      </ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true"  id="main-content">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
