<ion-header color="dark" class="ion-no-border">
  <ion-toolbar
    class="ion-no-padding"
    style="border-bottom-left-radius: 50px; border-bottom-right-radius: 50px"
  >
    <div class="custom-header">
      <ion-menu-button color="light"></ion-menu-button>

      <app-logo [logoSrc]="srcLogo" style="flex: 1"></app-logo>

      <ion-button color="dark" shape="round">
        <ion-icon slot="icon-only" color="primary" name="notifications">
        </ion-icon>
      </ion-button>
    </div>
    <app-avatar [avatarSrc]="avatarSrc"></app-avatar>

    <app-botoes-interacao></app-botoes-interacao>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="flex slider-container">
      <app-custom-slides [slideProp]="slidePersonal"></app-custom-slides>
    </div>
    <div class="flex slider-container">
      <app-custom-slides [slideProp]="slideProgramas"></app-custom-slides>
    </div>
    <div class="flex slider-container">
      <app-custom-slides [slideProp]="slideConteudos"></app-custom-slides>
    </div>
</ion-content>
